@import "tailwindcss";

@theme {
  --color-pink: #deb3c3;
  --color-purple: #433285;
  --color-white: #ffffff;
  --color-comment: #6f556d;
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}
